body {
    background-color: white;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

 @font-face {
    font-family: VT323;
    src: url('assets/VT323-Regular.ttf');
}